@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Shared styles */
* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-primary {
    background: #FF900E;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    padding: 15px;
}

/* Header styles */
header {
    background: rgba(255, 144, 14, 0.10);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}

.nav-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    padding: 1rem 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
    font-size: 1rem;
    font-weight: 500;
}

h3 {
    padding-top: 1rem;
}

/* Banner section style  */
.banner {
    margin-top: 80px;
    padding-bottom: 50px;
    max-width: 900px;
    margin: 0 auto;
}

.banner-content {
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.banner-title {
    color: #131313;
    margin-bottom: 10px;
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    color: #727272;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 400;
}

.banner img {
    width: 100%;
}

main {
    max-width: 1440px;
    margin: 5rem auto;
}

/* Team features section */

.team-container {
    margin: 0 80px;
    display: flex;
    align-items: center;
}

.image-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-left: 5.75rem;
}

.image-content>img {
    width: 15.625rem;
}

.team-content {
    padding-left: 4rem;
}

.quick-list {
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
}

.of-our {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.team-content h1 {
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.team-content p {
    padding-bottom: 1rem;
}

/* Facts style */
.facts-container {
    max-width: 37.5rem;
    padding-top: 7rem;
    margin-left: 10rem;
}

.facts-container h3 {
    color: #131313;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1.5rem;
}

.facts-container p {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}


.facts-card-container {
    padding-top: 6rem;
    display: flex;
    justify-content: space-around;
    padding-left: 10rem;
    padding-right: 10rem;
    gap: 1.25rem;
}

.facts-card-container .cards {
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 20px 20px;
    text-align: center;
}
.cards{
    width: 240px;
}
.card-stats {
    color: #424242;
    font-size: 2.5rem;
    font-weight: 600;
}

.card-title {
    color: #727272;
    font-size: 1.2rem;
    font-weight: 600;
}

/* Sponsor section */
.sponsor-section-container{
    margin-top: 6rem;
}
.sponsor-section-container .sponsor-container{
    text-align: center;
    margin-bottom: 3rem;
}
.sponsor-container h1{
    padding-bottom: 1rem;
    color:#131313;
    font-size: 2.5rem;
font-weight: 700;
}
.sponsor-container p{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}
.sponsor-image-container{
    text-align: center;
}

.sponsor-image-container img{
    padding-right: 4rem;
    max-width: 200px;
}

/* Footer */
footer{
    border-radius: 8px;
background: #FFF4E7;
max-width: 1000px;
margin: 8rem auto;
}
footer p{
    text-align: center;
    padding: 2rem;
}

/* Responsive Design using tailwin breakpoints */
/* https://tailwindcss.com/docs/responsive-design */
/*Design for small devices*/
@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;
    }

    .nav-title {
        color: #131313;
        font-size: 2.8rem;
        font-weight: 700;
    }

    .team-container {
        flex-direction: column;
    }

    .of-our,
    .quick-list,
    .team-content h1 {
        font-size: 1.8rem;
    }

    .team-content {
        padding-left: 1rem;
        text-align: center;
    }

    .team-content h1 {
        padding-top: 2rem;
    }

    .image-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .image-content {
        max-width: 1000px;
        margin: 0 auto;
    }
    .facts-container {
        text-align: center;
        margin-left: 0rem;
    }

    .facts-card-container {
        flex-direction: column;
        gap: 1.5rem;
        padding-left: 6rem;
    }
    
    .facts-card-container .cards {
        border-radius: 8px;
        border: 1px solid #FF900E;
        padding: 20px 20px;
        text-align: center;
    }
    .cards{
        box-shadow: 10px 10px #aba3a2;
    }

    .sponsor-image-container img{
        text-align: center;
        margin: 0 auto;
    }
    .sponsor-image-container{
        text-align: center;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        gap: 1.5rem;
    }
}

/* Design for medium devices*/
@media screen and (min-width: 576px) and (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .nav-title {
        color: #131313;
        font-size: 2.8rem;
        font-weight: 700;
    }

    .team-container {
        flex-direction: column;
    }

    .of-our,
    .quick-list,
    .team-content h1 {
        font-size: 1.8rem;
    }

    .team-content {
        padding-left: 1rem;
        text-align: center;
    }

    .team-content h1 {
        padding-top: 2rem;
    }

    .image-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .image-content {
        max-width: 1000px;
        margin: 0 auto;
    }
    .facts-card-container{
        flex-direction: column;
    }
    .cards{
        box-shadow: 10px 10px #aba3a2;
    }
    .sponsor-image-container img{
        text-align: center;
        margin: 0 auto;
    }
    .sponsor-image-container{
        text-align: center;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        gap: 1.5rem;
    }
}

/* Design for large devices*/
@media screen and (min-width: 768px) and (max-width: 1024px) {

    .team-container {
        flex-direction: column;
    }

    .of-our,
    .quick-list,
    .team-content h1 {
        font-size: 1.8rem;
    }

    .team-content {
        padding-left: 1rem;
        text-align: center;
    }

    .team-content h1 {
        padding-top: 2rem;
    }

    .sponsor-image-container img{
        text-align: center;
        margin: 0 auto;
    }
    .sponsor-image-container{
        text-align: center;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        gap: 1.5rem;
    }
    
}